

.userText {
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
  background: var(--left-msg-bg);
  text-align: right;
  margin-left: auto;
  max-width: 80%;
  
}
.botText {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
    margin-right: auto;
    max-width: 80%;
}
.userText,
.botText {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
}