.userText{
    background-color: aqua;
    margin-right: 10px;
    padding: 5px;
    font-size: large;
    text-align: right;
}
.botText{
    background-color: rgb(183, 141, 4);
    margin-left: 10px;
    font-size: large;
    padding: 5px;
}