.button {
  margin-left: 10px;
  background: rgb(0, 196, 65);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
}
.button:hover {
    background: rgb(0, 180, 50);
}
.send_button_alone{
    background: rgb(0, 196, 65);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
    
}
.send_button_alone:hover {
    background: rgb(0, 180, 50);
}
.send_button_icon{
    color: #000000;
    font-size: 20px;
}