.input_bar{
    border-radius: 10px;
    background-color: lightgrey;
    border-width: 1px;
    font-size: medium;
    padding: 5px;
    white-space: normal;
    overflow-wrap: break-word;
    width: 200px;
}
.input_bar_and_send{
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;

}